/* line 4, ../sass/styles.scss */
#header .section {
  padding: 12px 0;
  background-color: #fff;
}
/* line 8, ../sass/styles.scss */
#block-block-1 .section {
  padding: 20px 0;
  background-color: #f1f2f5;
}
/* line 12, ../sass/styles.scss */
#block-block-3 .section {
  padding: 20px 0 40px;
  background-color: #f1f2f5;
}
/* line 16, ../sass/styles.scss */
#block-block-2 .section {
  padding: 20px 0 0px;
  background-color: #fff;
}
/* line 20, ../sass/styles.scss */
#block-views-blog-block .section {
  padding: 20px 0 40px;
  background-color: #fff;
}
/* line 24, ../sass/styles.scss */
#block-views-homepage-brands-block .section {
  padding: 0 0 40px;
  background-color: #f1f2f5;
}

/* line 29, ../sass/styles.scss */
.logo-wrapper {
  float: left;
}

/* line 32, ../sass/styles.scss */
.navigation {
  float: right;
}
/* line 34, ../sass/styles.scss */
.navigation .menu {
  padding: 0;
  margin: 0;
  display: none;
}
@media (max-width: 767px) {
  /* line 34, ../sass/styles.scss */
  .navigation .menu {
    position: absolute;
    background-color: #fff;
    right: 0;
    top: 66px;
    z-index: 2;
    width: 250px;
    padding-bottom: 25px;
  }
  /* line 46, ../sass/styles.scss */
  .navigation .menu li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
    margin: 0;
    margin-left: 0px;
    width: 100%;
    box-sizing: border-box;
  }
  /* line 54, ../sass/styles.scss */
  .navigation .menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Museo sans;
    color: #575656;
    padding: 20px 0px 0;
    display: block;
  }
  /* line 61, ../sass/styles.scss */
  .navigation .menu li a.boxed {
    border: 2px solid;
    color: #61c0bd;
    padding: 12px 25px;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  /* line 34, ../sass/styles.scss */
  .navigation .menu {
    display: block;
  }
  /* line 72, ../sass/styles.scss */
  .navigation .menu li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 30px;
  }
  /* line 78, ../sass/styles.scss */
  .navigation .menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Museo sans;
    color: #575656;
    padding: 20px 0;
    display: block;
  }
  /* line 85, ../sass/styles.scss */
  .navigation .menu li a.boxed {
    border: 2px solid;
    color: #61c0bd;
    padding: 12px 25px;
  }
}

/* line 95, ../sass/styles.scss */
.ham-menu {
  width: 40px;
  color: #61c0bd;
  float: right;
  display: block;
  margin-top: 6px;
}
@media (min-width: 768px) {
  /* line 95, ../sass/styles.scss */
  .ham-menu {
    display: none;
  }
}
/* line 104, ../sass/styles.scss */
.ham-menu hr {
  border-color: #61c0bd;
}

/* line 109, ../sass/styles.scss */
.slick-dots {
  /*display: none !important;*/
}
/* line 111, ../sass/styles.scss */
.slick-dots li {
  margin: 0;
}

/* line 116, ../sass/styles.scss */
.slide__content {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
/* line 120, ../sass/styles.scss */
.slide__content:hover {
  box-shadow: none !important;
  border: none !important;
}

/* line 126, ../sass/styles.scss */
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}
/* line 128, ../sass/styles.scss */
.slick-dotted.slick-slider .slick-dots {
  display: block;
  position: absolute;
  bottom: -25px;
}

/* line 134, ../sass/styles.scss */
.slick-prev {
  left: -50px;
}
/* line 136, ../sass/styles.scss */
.slick-prev:before {
  content: '\f104';
}

/* line 141, ../sass/styles.scss */
.slick-next {
  right: -50px;
}
/* line 143, ../sass/styles.scss */
.slick-next:before {
  content: '\f105';
}

/* line 148, ../sass/styles.scss */
.slick-prev:before, .slick-next:before {
  font-family: 'FontAwesome';
  color: #61c0bd;
}

/* line 153, ../sass/styles.scss */
.slider-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
/* line 162, ../sass/styles.scss */
.slider-text-wrapper h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 3em;
}
/* line 167, ../sass/styles.scss */
.slider-text-wrapper p {
  max-width: 600px;
  margin: 1em auto;
  line-height: 1.75em;
  font-size: 1em;
}

/* line 178, ../sass/styles.scss */
.position-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 15px;
}

/* line 188, ../sass/styles.scss */
button {
  -webkit-appearance: none;
  border: none;
  background-color: #5fc0c3;
  color: #fff;
  padding: 12px 25px;
  text-transform: uppercase;
  font-family: Museo sans;
}

/* line 198, ../sass/styles.scss */
#block-block-1 .container {
  position: relative;
}
/* line 201, ../sass/styles.scss */
#block-block-1 button {
  display: block;
  margin-top: 1em;
}

/* line 207, ../sass/styles.scss */
.block {
  position: relative;
}
/* line 209, ../sass/styles.scss */
.block .title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
  margin-top: 20px;
  text-transform: uppercase;
}

/* line 220, ../sass/styles.scss */
#block-views-homepage-brands-block .title {
  border-top: 1px solid #ccc;
  padding-top: 40px;
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 228, ../sass/styles.scss */
#block-block-2 {
  text-align: center;
}
/* line 230, ../sass/styles.scss */
#block-block-2 .col-md-4 {
  /*padding-bottom: 70px;*/
  margin-bottom: 40px;
}
/* line 234, ../sass/styles.scss */
#block-block-2 .img-wrapper {
  /*width: 30%;*/
  margin: 0 auto 10px;
}
/* line 237, ../sass/styles.scss */
#block-block-2 .img-wrapper img {
  /*position: relative;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
  height: 100px;
  width: auto;
}
/* line 245, ../sass/styles.scss */
#block-block-2 h3 {
  text-transform: uppercase;
}
/* line 248, ../sass/styles.scss */
#block-block-2 a.button {
  color: #61c0bd;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid;
  padding: 12px 25px;
  margin-top: 12px;
  display: inline-block;
  /*position: absolute;*/
  /*left: 50%;*/
  /*bottom: 10px;*/
  /*transform: translateX(-50%);*/
}

/* line 262, ../sass/styles.scss */
#block-block-3 {
  text-align: center;
}
/* line 264, ../sass/styles.scss */
#block-block-3 .row {
  margin-top: 100px;
}
/* line 266, ../sass/styles.scss */
#block-block-3 .row .col-md-4 {
  /*padding-bottom: 70px;*/
}
@media (max-width: 767px) {
  /* line 266, ../sass/styles.scss */
  #block-block-3 .row .col-md-4 {
    margin-top: 90px;
  }
}
/* line 273, ../sass/styles.scss */
#block-block-3 .content-wrapper {
  background-color: #fff;
  padding: 50px 25px 25px;
  border-radius: 10px;
}
/* line 278, ../sass/styles.scss */
#block-block-3 h3 {
  color: #61c0bd;
}
/* line 281, ../sass/styles.scss */
#block-block-3 em {
  background-color: #57c1d5;
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  position: absolute;
  top: -55px;
  border: 10px solid #fff;
  left: 50%;
  transform: translateX(-50%);
}
/* line 292, ../sass/styles.scss */
#block-block-3 em img {
  height: 45px;
  width: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 303, ../sass/styles.scss */
#block-views-blog-block .views-field-title {
  margin-bottom: 18px;
}
/* line 305, ../sass/styles.scss */
#block-views-blog-block .views-field-title a {
  text-decoration: none;
  color: #61c0bd;
}
/* line 310, ../sass/styles.scss */
#block-views-blog-block .views-field-created {
  margin-top: 2em;
}

/* line 315, ../sass/styles.scss */
#footer {
  background-color: #444850;
  color: #979eb1;
  text-align: center;
  padding: 25px 0 5px;
}
/* line 320, ../sass/styles.scss */
#footer a {
  color: #61c0bd;
}
/* line 324, ../sass/styles.scss */
#footer .social-icons i.fa {
  margin: 0 .5em;
}
/* line 328, ../sass/styles.scss */
#footer hr {
  border-color: #5e5f63;
  margin: 30px 0;
}

@media (min-width: 768px) {
  /* line 334, ../sass/styles.scss */
  .logo-wrapper {
    margin: 10px 0;
  }

  /* line 337, ../sass/styles.scss */
  .position-middle-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    margin-top: 0em;
  }
}
