$blue : #61c0bd;

.section{
	#header &{
		padding: 12px 0;
		background-color: #fff;
	}
	#block-block-1 &{
		padding: 20px 0;
		background-color: #f1f2f5;
	}
	#block-block-3 &{
		padding: 20px 0 40px;
		background-color: #f1f2f5;
	}
	#block-block-2 &{
		padding: 20px 0 0px;
		background-color: #fff
	}
	#block-views-blog-block &{
		padding: 20px 0 40px;
		background-color: #fff;
	}
	#block-views-homepage-brands-block &{
		padding:  0 0 40px;
		background-color: #f1f2f5;
	}
}
.logo-wrapper{
	float: left;
}
.navigation{
	float: right;
	.menu {
		padding: 0;
		margin: 0;
		display: none;
		@media (max-width: 767px){
			position: absolute;
			background-color: #fff;
			right: 0;
			top: 66px;
			z-index: 2;
			width: 250px;
			padding-bottom: 25px;
			li {
			   list-style: none;
			   display: inline-block;
			   padding: 0 15px;
			   margin: 0;
			   margin-left: 0px;
    			width: 100%;
    			box-sizing: border-box;
			   a {
			      text-transform: uppercase;
			      text-decoration: none;
			      font-family: Museo sans;
			      color: #575656;
			      padding: 20px 0px 0;
			      display: block;
			      &.boxed {
			         border: 2px solid;
			         color: $blue;
			         padding: 12px 25px;
			         margin-top: 20px;
			      }
			   }
			}
		}
		@media (min-width: 768px){
			display: block;
			li {
			   list-style: none;
			   display: inline-block;
			   padding: 0;
			   margin: 0;
			   margin-left: 30px;
			   a {
			      text-transform: uppercase;
			      text-decoration: none;
			      font-family: Museo sans;
			      color: #575656;
			      padding: 20px 0;
			      display: block;
			      &.boxed {
			         border: 2px solid;
			         color: $blue;
			         padding: 12px 25px;
			      }
			   }
			}
		}		
	}
}
.ham-menu{
	 width: 40px;
    color: $blue;
    float: right;
    display: block;
    margin-top: 6px;
    @media (min-width: 768px){
    	display: none;
    }
    hr{
    	border-color: $blue;

    }
}
.slick-dots {
    /*display: none !important;*/
    li {
	    margin: 0;
	}
}
.carousel-dots{}
.slide__content {
   border: none !important;
   background-color: transparent !important;
   box-shadow: none !important;
   &:hover{
   	box-shadow:none !important;
   	border: none !important;
   }

}
.slick-dotted.slick-slider{
	 margin-bottom: 0px;
	 .slick-dots {
	    display: block;
	    position: absolute;
	    bottom: -25px;
	}
}
.slick-prev {
    left: -50px;
    &:before{
    	content:'\f104';
    }

}
.slick-next {
    right: -50px;
    &:before{
    	content:'\f105';
    }
}
.slick-prev, .slick-next{
	&:before{
		  font-family: 'FontAwesome';
		  color: $blue;
	}
}
.slider-text-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: rgba(0,0,0,.8);
	text-align: center;
	h2{
		text-transform: uppercase;
    	color: #fff;
    	font-size: 3em;
	}
	p {
	   max-width: 600px;
	   margin: 1em auto;
	   line-height: 1.75em;
	   font-size: 1em;
	}
}
.slick-arrow{

}

.position-middle {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   padding: 15px;
}


button {
    -webkit-appearance: none;
    border: none;
    background-color: #5fc0c3;
    color: #fff;
    padding: 12px 25px;
    text-transform: uppercase;
    font-family: Museo sans;
}
#block-block-1{
	.container{
		position: relative;		
	}
	button{
		display: block;
    	margin-top: 1em;
	}
}

.block{
	position: relative;
	.title{
		text-align: center;
		font-size: 2em;
		margin-bottom: 30px;
		margin-top: 20px;
		text-transform: uppercase;
		
	}

}
#block-views-homepage-brands-block{
	.title{
		border-top: 1px solid #ccc;
		padding-top: 40px;
		display: block;
		margin-top: 0;
		margin-bottom: 10px;
	}
}
#block-block-2{
	text-align: center;
	.col-md-4{
		 /*padding-bottom: 70px;*/
		 margin-bottom: 40px;
	}
	.img-wrapper{
		/*width: 30%;*/
   	margin: 0 auto 10px;
   	img{
			/*position: relative;*/
			/*top: 50%;*/
			/*transform: translateY(-50%);*/
			height: 100px;
			width: auto;
   	}
	}
	h3{
		text-transform: uppercase;
	}
	a.button {
		color: $blue;
		text-transform: uppercase;
		text-decoration: none;
		border: 1px solid;
		padding: 12px 25px;
		margin-top: 12px;
    	display: inline-block;
		/*position: absolute;*/
		/*left: 50%;*/
		/*bottom: 10px;*/
		/*transform: translateX(-50%);*/
	}
}
#block-block-3{
	text-align: center;
	.row {
	    margin-top: 100px;
	    .col-md-4{
			 /*padding-bottom: 70px;*/
			@media (max-width: 767px){
			 	margin-top: 90px;
			}
		}
	}
	.content-wrapper{
	    background-color: #fff;
	    padding: 50px 25px 25px;
	    border-radius: 10px;
	}
	h3{
		color: $blue;
	}
	em {
		background-color: #57c1d5;
		display: inline-block;
		width: 90px;
		height: 90px;
		border-radius: 100%;
		position: absolute;
		top: -55px;
		border: 10px solid #fff;
		left: 50%;
		transform: translateX(-50%);
		img{
			height: 45px;
			width: auto;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

#block-views-blog-block{
	.views-field-title{
		margin-bottom: 18px;
		a {
   		text-decoration: none;
    		color: $blue;
		}
	}
	.views-field-created {
	    margin-top: 2em;
	}
}

#footer {
    background-color: #444850;
    color: #979eb1;
    text-align: center;
    padding: 25px 0 5px;
    a {
	    color: $blue;
	}
	.social-icons{
		i.fa {
		    margin: 0 .5em;
		}
	}
	hr {
		border-color: #5e5f63;
		margin: 30px 0;
	}
}
@media (min-width: 768px){
	.logo-wrapper {
	    margin:10px 0;
	}
	.position-middle-right{
		position: absolute;
	   right: 0;
	 	top: 50%;
	 	transform: translateY(-50%);
	 	display: block;
    	margin-top: 0em;
	}
}